body{

    /*background:#d9d9d9 url("../assets/images/bg.gif") center top repeat-x;*/
    /*background-color: #d8d8d8;*/
    background-color: #191919;
    font-family: 'Roboto', sans-serif;
    /*margin: 5px;*/
    /*margin: 0px;*/
    margin: 0 auto;
    overflow-x: hidden;
    margin-bottom: 60px;
    font-size: 14px;
    color: #9d9d9d;
}

html {
    position: relative;
    min-height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.drop:hover .dropdown-menu.columns-3{
    display: block;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    color: #333;
}
.multi-column-dropdown li{
    display: block;
}
.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 200px;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #888;
    background-color: inherit;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}


#search .inputSearch{
    outline: none;
}

#search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}


#search input::-webkit-search-decoration,
#search input::-webkit-search-cancel-button {
    display: none;
}


#search input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}


#search input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


#search input:-moz-placeholder {
    color: #999;
}
#search input::-webkit-input-placeholder {
    color: #999;
}

ul{
    padding: 0;
    list-style: none;
    background: inherit;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
    text-decoration: none;
}
ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}

.navbar {
    min-height: 50px;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.navbar-header {
    float: left;
    padding-left: 15px;
}

.navbar-brand {
    height: 50px;
    padding: 0 15px;
    font-size: inherit;
    line-height: 50px;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 0 15px;
    line-height: 50px;
}

.navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default .navbar-brand{
    color: #333;
}
/*carosel*/


.carousel-indicators li{
    display: none;
}

.carousel-inner {
    height: 450px;
}
.text-center {
    height: 100%;
    width: 100%;
}
.covercarousel {
    height: 450px;
    margin-left: -15px;
    margin-right: -15px;
}
.margintopcarousel{
    margin-top: 60px;
}
.covercarousel .item{
    height: 100%;
}

.imgwidth{
    height: 100%;
    width: 100%;
}

.marginall{
    margin: 3px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
/*.navbar-wrapper {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*z-index: 20;*/
/*}*/

/* Flip around the padding for proper display in narrow viewports */
/*.navbar-wrapper > .container {*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
/*}*/
/*.navbar-wrapper .navbar {*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
/*}*/
/*.navbar-wrapper .navbar .container {*/
    /*width: auto;*/
/*}*/

/*.navbar-inverse .navbar-nav>li>a {*/
    /*color: #b1b1b1;*/
    /*font-size: 15px;*/
/*}*/

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}


.navfontfamily{
    font-size: 19px;
    padding-right: 2px;
}

.cursorpointer{
    cursor: pointer;
}


.icon-tby{
    padding-right: 1px;
    margin-top: 1px;
    color: #5cb85c;
    /*color: #5192b2;*/
    font-size: 11px;
}
.icon-bg{
    color: #5cb85c;
}
.navbar-inverse .navbar-text{
    color: #337ab7;
    font-size: 14px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #b1b1b1;
    background-color: transparent;
}

/*watch now btn*/
#content{
    padding-top: 30px;
    text-align: center;
}

.btnPrimary{
    background-color: #2196f3;
    border: transparent;
}

.btnPrimary:hover,
.btnPrimary:focus {
    background-color: #2196f3;
}

.btnSuccess{
    background-color: #4caf50;
    border: transparent;
}

.btnSuccess:hover,
.btnSuccess:focus {
    background-color: #4caf50;
}


/*Start sticky footer*/
.footer {
    position: absolute;
    height: 40px;
    bottom: 0px;
    width: 100%;
    background-color: #181818;
}

.footercontent{
    margin-top: 14px;
    margin-right: 12px;
    font-size: 14px;
    color: #9d9d9d;
    margin-bottom: 0px;
}
.footercontent a{
    color: #777;
}
/*End sticky footer*/

.membershiplogin {
    text-decoration: none;
    color: #5a5a5a;
}

.membershiplogin:hover{
    text-decoration: none;
}
.marginall{
    margin: 3px;
}

.margintop{
    margin-top: 95px;
}

.btn-facebook {
    color: #fff;
    background-color: #517fa4;
    border: 1px solid #456c8c;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #303030;
}


.center-form {
    width: 400px;
    margin: 10% auto;
}

.form-control{
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 16px;
}

.form-control:focus{
    box-shadow: inset 0 -2px 0 #2196f3;
}
.has-error .form-control{
    border-color: #e51c23;
}

.has-error .form-control:focus{
    box-shadow: inset 0 -2px 0 #e51c23;
    border-color: #e51c23;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

.has-feedback .form-control {
    padding-left: 42px;
}

.marginbtn.btn-block{
    margin-top: 8px;
}

.loginform {
    margin-top: 30px;
}


/*Start Cover carousel play icon*/
.coverplay{
    font-size: 50px;
    color: #68b268;
    /*color: #5cb85c;*/
}
.covercaption{
    bottom: -85px;
    transition: all 300ms ease-out;
}
/*.coverwatch:hover .covercaption{*/
/*bottom: 10px;*/
/*}*/
/*End Cover carousel play icon*/

/*Start play on hover*/
.figureimg{
    margin: 0px;
    width: 164px;
    height: 246px;
    position: relative;
    overflow: hidden;
}
.figureplay{
    font-size: 40px;
    color: #68b268;
    margin-top: 95px;
}
.thumbimg{
    display: block;
}
.figcap{
    /*padding: 2em;*/
    height: 100%;
    background-color: rgba(8,8,8,0.5);
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: -182px;

    transition: all 300ms ease-out;
}

.figureimg:hover .figcap{
    right: 0px;
}
/*End play on hover*/

.fontfeatured{
    font-size: 18px;
    color: #9d9d9d;
    border-left: 3px solid #2196f3;
    padding-left: 2px;
}



/*start movie nav-tabs*/
.nav-tabs{
    border-bottom: 1px solid #191919;
}

.nav-tabs > li > a {

    border: none;
    border-radius: 0;
    font-size: 14px;
    color: #5d5a5a;
    padding: 10px 5px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-tabs>li.active>a{
    background-color: rgba(157, 157, 157, 0.2);
    box-shadow: inset 0 -2px 0 #2196f3;
}


.nav-tabs>li.active>a:hover{
    background-color: rgba(157, 157, 157, 0.2);
    box-shadow: inset 0 -2px 0 #2196f3;
}


.nav-tabs>li>a:hover{
    background-color: rgba(157, 157, 157, 0.2);
}


.nav-tabs > li > a {
    margin-right: 2px;
    /*line-height: 1.42857143;*/
    border: 1px solid #5d5a5a;
    border-radius: 4px 4px 0 0;
}

.marginleft{
    margin-left: 25px;
}

.nav-search{
    background-color: #101010;
    border: 1px solid #101010;
    color: #9d9d9d;
}

/* -------------------- Rounded Corners */
/* -------------------- Rounded Corners */
.searchselect{
    height: 29px;
    overflow: hidden;
    width: 240px;
    margin-top: 10px;
    margin-left: 2px;
}

.searchselect select {
    background: transparent;
    border: none;
    font-size: 16px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}

.searchselect select option{
    color: #000;
    background: transparent;
    background-color: #cdcdcd;
}

.searchselectrounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* -------------------- Colors: Background */
.searchselectblack   { background-color: #cdcdcd; }
.searchselectblack select   { color: #000; }

li.movieformsearch{
    margin-right: 10px;
    margin-top: 10px;
}

.movieformsearch input{
    background-color: #cdcdcd;
    /*border: 1px solid #5d5a5a;*/
    padding-left: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*end movie nav-tabs*/


.carWidth{
    width: 300px;
    left: 13%;
}

.carWidth p{
    max-height: 80px;
    overflow: hidden;
    color: #fff!important;
}

.margingrid{
    margin-left: 10px;
    width: 100%;
}

/*.movieformsearch input{*/
/*background-color: #cdcdcd;*/
/*!*border: 1px solid #5d5a5a;*!*/
/*padding-left: 10px;*/
/*}*/
/*end movie nav-tabs*/

.marginfeatured{
    margin-top: 20px;
}

.imageshadow{
    /*box-shadow: 10px 10px 5px #888888;*/
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}


/*remove this duplicate*/
/*!*Start sticky footer*!*/
/*.footer1 {*/
/*position: fixed;*/
/*height: 40px;*/
/*bottom: 0px;*/
/*width: 100%;*/
/*background-color: rgba(204, 204, 204, 0.63);*/
/*}*/

/*.footercontent1{*/
/*margin-top: 14px;*/
/*margin-right: 12px;*/
/*font-size: 12px;*/
/*color: #777;*/
/*}*/
/*.footercontent1 a{*/
/*color: #777;*/
/*}*/
/*!*End sticky footer*!*/

.marginLeft{
    margin-left: -14px;
}

.playerHeight{
    height: 400px;
}

.imgBorder{
    border: 3px solid white;
}


.viewlink{
    text-decoration: none;
    color: #48a3c6;
    font-size: 18px;
}

.viewlink:hover{
    text-decoration: none;
}
.fontsize{
  font-size: 15px;
}
