<!--Start Navbar  -->
<div class="navbar-wrapper" >
    <div class="container-fluid">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navfontfamily cursorpointer" ng-click="model.navMoviesHome()">
                        StudioBuzz</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--<li ><a ng-click="model.navMoviesList()" class="navfontfamily cursorpointer">Movies</a></li>-->
                        <div class="dropdown">
                            <button class="dropbtn">Movies</button>
                            <div class="dropdown-content">
                                <a ng-click="model.navMoviesHome()" class="cursorpointer">Home</a>
                                <a ng-click="model.MovieByList('popular')" class="cursorpointer">Popular This Week</a>
                                <a ng-click="model.MovieByList('current')" class="cursorpointer">Currently Watching</a>
                                <a ng-click="model.MovieByList('upcoming')" class="cursorpointer">Upcoming Movies</a>
                            </div>
                        </div>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="marginall">
                            <div class="searchselect searchselectrounded searchselectblack">
                                <select ng-model="movieFilter">
                                    <option value="" selected>Select Language</option>
                                    <option value="hindi">Hindi</option>
                                    <option value="kannada">Kannada</option>
                                    <option value="tamil">Tamil</option>
                                    <option value="telugu">Telugu</option>
                                </select>
                            </div>
                        </li>
                        <li class = "movieformsearch marginall">
                            <form class="form-inline">
                                <input type="text" class="form-control" ng-model="model.movieSearch" placeholder="Search...">
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </div>
</div>
<!-- End Navbar -->


<!-- Start Carousel -->
<div class="container-fluid">
    <div class="row margintopcarousel" >
        <div class='col-sm-12'>
            <div class="covercarousel" uib-carousel active="model.active" interval="model.myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in model.movie track by $index" index="$index" >
                    <img class="imgwidth" ng-src="{{slide.cloudCoverUrl}}" style="margin:auto;">
                        <div class="carousel-caption carWidth">
                            <h2>Lorem Ipsum</h2>
                            <p><strong>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</strong></p>
                            <a ng-click="model.watchMovieById(slide._id)"
                               class="cursorpointer btn btn-primary btn-md btnPrimary">Play</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Carousel -->


<!-- Start featured list -->
<div class="container-fluid marginfeatured">
    <div class="row">
        <div class="col-md-12">
            <h3 class="fontfeatured">POPULAR THIS WEEK<span class="pull-right"><a ng-click="model.MovieByList('popular')"  class="cursorpointer viewlink">View all</a></span></h3>
            <slick init-onload='true' infinite="false" speed="300" slides-to-show="9" touch-move="false" slides-to-scroll="2"
                   data="model.movie" class="slider multiple-items marginall"
                   autoplay="true" autoplaySpeed="5000">
                <div ng-repeat="img in model.movie | filter: {title: model.movieSearch}
            | filter: {language: movieFilter} | filter: model.viewNavTab('views', 0) | orderBy: 'views': true">
                    <div class="figureimg imageshadow imgBorder marginall">
                        <ui-thumbnail  src="img.cloudThumbUrl" opts="{width: 164, height: 246}"></ui-thumbnail>
                        <div class="figcap">
                            <a ng-click="model.watchMovieById(img._id)"><span class="cursorpointer figureplay text-center glyphicon glyphicon-play-circle"></span></a>
                        </div>
                    </div>

                </div>
            </slick>

        </div>
    </div>
</div>
<!-- End featured list -->

<!--Currently watching movies-->

<div class="container-fluid marginfeatured">
    <div class="row">
        <div class="col-md-12">
            <h3 class="fontfeatured">CURRENTLY WATCHING<span class="pull-right"><a ng-click="model.MovieByList('current')" class="cursorpointer viewlink">View all</a></span></h3>

            <slick init-onload='true' infinite="false" speed="300" slides-to-show="9" touch-move="false" slides-to-scroll="2"
                   data="model.movie" class="slider multiple-items marginall"
                   autoplay="true" autoplaySpeed="5000">
                <div ng-repeat="img in model.movie | filter: {title: model.movieSearch}
            | filter: {language: movieFilter} | filter: model.viewNavTab('views', 0) | orderBy: 'rating': true">
                    <div class="figureimg imageshadow imgBorder marginall">
                        <ui-thumbnail  src="img.cloudThumbUrl" opts="{width: 164, height: 246}"></ui-thumbnail>
                        <div class="figcap">
                            <a ng-click="model.watchMovieById(img._id)"><span class="cursorpointer figureplay text-center glyphicon glyphicon-play-circle"></span></a>
                        </div>
                    </div>

                </div>
            </slick>

        </div>
    </div>
</div>


<!--movie nav tabs-->
<!-- Start movie list -->
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12 marginfeatured">
            <h3 class="fontfeatured">FEATURED MOVIES</h3>
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: model.featuretab}">
                    <a class="cursorpointer" ng-click="model.movieNavTabs('feature')">Featured</a>
                </li>
                <li role="presentation" ng-class="{active: model.viewtab}">
                    <a class="cursorpointer" ng-click="model.movieNavTabs('most')">Most viewed</a>
                </li>
                <li role="presentation" ng-class="{active: model.ratingtab}">
                    <a class="cursorpointer" ng-click="model.movieNavTabs('top')">Top Rating</a>
                </li>
                <li role="presentation" ng-class="{active: model.recenttab}">
                    <a class="cursorpointer" ng-click="model.movieNavTabs('recent')">Recently Added</a>
                </li>

            </ul>
            <br>

            <div class="marginLeft">
            <!-- Start Featured Tab -->
            <div ng-show="model.featuretab" ng-repeat="image in model.movie | filter: {title: model.movieSearch}
            | filter: {language: movieFilter}">
                <div class="col-lg-2 col-sm-3 col-xs-4">
                    <div class="figureimg imageshadow imgBorder marginall">
                        <ui-thumbnail  src="image.cloudThumbUrl" opts="{width: 164, height: 246}"></ui-thumbnail>
                        <div class="figcap">
                            <a ng-click="model.watchMovieById(image._id)"><span class="cursorpointer figureplay text-center glyphicon glyphicon-play-circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Featured Tab -->

            <!-- Start View Tab -->
            <div ng-show="model.viewtab" ng-repeat="image in model.movie | filter: {title: model.movieSearch}
            | filter: {language: movieFilter} | filter: model.viewNavTab('views', 0) | orderBy: 'views': true">
                <div class="col-lg-2 col-sm-3 col-xs-4 ">
                    <div class="figureimg imageshadow imgBorder marginall">
                        <ui-thumbnail src="image.cloudThumbUrl" opts="{width: 164, height: 246}"></ui-thumbnail>
                        <div class="figcap">
                            <a ng-click="model.watchMovieById(image._id)"><span class="cursorpointer figureplay text-center glyphicon glyphicon-play-circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End View Tab -->

            <!-- Start Top Rating Tab -->
            <div ng-show="model.ratingtab" ng-repeat="image in model.movie | filter: {title: model.movieSearch}
            | filter: {language: movieFilter} | filter: model.viewNavTab('rating', 0) | orderBy: 'rating': true">
                <div class="col-lg-2 col-sm-3 col-xs-4">
                    <div class="figureimg imageshadow imgBorder marginall">
                        <ui-thumbnail class="img img-responsive" src="image.cloudThumbUrl" opts="{width: 164, height: 246}"></ui-thumbnail>
                        <div class="figcap">
                            <a ng-click="model.watchMovieById(image._id)"><span class="cursorpointer figureplay text-center glyphicon glyphicon-play-circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Rating Tab -->

            <!-- Start Top Recent Tab -->
            <div ng-show="model.recenttab" ng-repeat="image in model.movie | filter: {title: model.movieSearch}
            | filter: {language: movieFilter} | orderBy: 'uploaded': true">
                <div class="col-lg-2 col-sm-3 col-xs-4">
                    <div class="figureimg imageshadow imgBorder marginall">
                        <ui-thumbnail class="img img-responsive" src="image.cloudThumbUrl" opts="{width: 164, height: 246}"></ui-thumbnail>
                        <div class="figcap">
                            <a ng-click="model.watchMovieById(image._id)"><span class="cursorpointer figureplay text-center glyphicon glyphicon-play-circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Recent Tab -->
                <!--<span class="pull-right"><a class="cursorpointer viewlink">View all</a></span>-->
            </div>
        </div>
    </div>
</div>

<!--Upcoming movies-->

<div class="container-fluid marginfeatured">
    <div class="row">
        <div class="col-md-12">
            <h3 class="fontfeatured">UPCOMING MOVIES<span class="pull-right"><a ng-click="model.MovieByList('upcoming')" class="cursorpointer viewlink">View all</a></span></h3>
            <slick init-onload='true' infinite="false" speed="300" slides-to-show="9" touch-move="false" slides-to-scroll="2"
                   data="model.movie" class="slider multiple-items marginall"
                   autoplay="true" autoplaySpeed="5000">
                <div ng-repeat="img in model.movie | filter: {title: model.movieSearch}
            | filter: {language: movieFilter} | orderBy: 'uploaded': true">
                    <div class="figureimg imageshadow imgBorder marginall">
                        <ui-thumbnail  src="img.cloudThumbUrl" opts="{width: 164, height: 246}"></ui-thumbnail>
                        <div class="figcap">
                            <a ng-click="model.watchMovieById(img._id)"><span class="cursorpointer figureplay text-center glyphicon glyphicon-play-circle"></span></a>
                        </div>
                    </div>

                </div>
            </slick>

        </div>
    </div>
</div>




<!--footer start from here-->
<div class="footer">
    <p class="footercontent pull-right">&copy; 2017 StudioBuzz. All rights reserved &nbsp;&nbsp;
    </p>
</div>
<!--footer end from here-->
