<!--Start Navbar  -->
<div class="navbar-wrapper" >
    <div class="container-fluid">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navfontfamily cursorpointer" ng-click="model.navMoviesHome()">
                        StudioBuzz</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--<li ><a ng-click="model.navMoviesList()" class="navfontfamily cursorpointer">Movies</a></li>-->
                        <div class="dropdown">
                            <button class="dropbtn">Movies</button>
                            <div class="dropdown-content">
                                <a ng-click="model.navMoviesHome()" class="cursorpointer">Home</a>
                                <a ng-click="model.MovieByList('popular')" class="cursorpointer">Popular This Week</a>
                                <a ng-click="model.MovieByList('current')" class="cursorpointer">Currently Watching</a>
                                <a ng-click="model.MovieByList('upcoming')" class="cursorpointer">Upcoming Movies</a>
                            </div>
                        </div>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="marginall">
                            <div class="searchselect searchselectrounded searchselectblack">
                                <select ng-model="movieFilter">
                                    <option value="" selected>Select Language</option>
                                    <option value="hindi">Hindi</option>
                                    <option value="kannada">Kannada</option>
                                    <option value="tamil">Tamil</option>
                                    <option value="telugu">Telugu</option>
                                </select>
                            </div>
                        </li>
                        <li class = "movieformsearch marginall">
                            <form class="form-inline">
                                <input type="text" class="form-control" ng-model="model.movieSearch" placeholder="Search...">
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </div>
</div>
<!-- End Navbar -->



<!-- Start featured list -->
<div class="margintop">
<div class="container-fluid marginfeatured">
    <div class="row">
        <div class="col-md-12">
            <h3 class="fontfeatured">UPCOMING MOVIES</h3>

            <div class="marginLeft">
            <div ng-show="model.featuretab" ng-repeat="image in model.movie | filter: {title: model.movieSearch}
            | filter: {language: movieFilter} | orderBy: 'uploaded': true">
                <div class="col-lg-2 col-sm-3 col-xs-4">
                    <div class="figureimg imageshadow imgBorder marginall">
                        <ui-thumbnail  src="image.cloudThumbUrl" opts="{width: 164, height: 246}"></ui-thumbnail>
                        <div class="figcap">
                            <a ng-click="model.watchMovieById(image._id)"><span class="cursorpointer figureplay text-center glyphicon glyphicon-play-circle"></span></a>
                        </div>
                    </div>
                </div>

        </div>
            </div>
    </div>
</div>
</div>
<!-- End featured list -->
</div>