<!--Start Navbar  -->
<div class="navbar-wrapper" >
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navfontfamily cursorpointer" ng-click="model.navMoviesHome()">
                        Studi<i class="fa fa fa-play-circle-o icon-tby" aria-hidden="true"></i>Buzz</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ><a ng-click="model.navMoviesList()" class="navfontfamily cursorpointer">Movies</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="cursorpointer" ng-click="model.navMoviesLogout()">Logout</a></li>
                    </ul>

                </div>
            </div>
        </nav>

    </div>
</div>
<!-- End Navbar -->


<!-- Start Movie description -->

<div class="container">
    <div class="margintop panel">
        <div class="row">
            <div class="col-md-3">
                <div class="marginall">
                    <img ng-src="{{model.image}}" class="imgBorderThumb imgBorder marginall imageshadow" width='182' height="268">
                </div>
            </div>

            <div class="col-md-9">
                <h4>{{model.movie.title}}</h4>
                <p class="marginall text-justify marginall"><strong>Description:</strong> {{model.movie.description}}</p>

                <table class="table-responsive">
                    <tr>
                        <td>Date of Release&nbsp;</td>
                        <td>
                            &nbsp; {{model.movie.created | date: 'dd-MM-yyyy'}}
                        </td>
                    </tr>
                    <tr>
                        <td>Actors&nbsp;</td>
                        <td>
                            &nbsp; {{model.movie.cast}}
                        </td>
                    </tr>

                    <tr>
                        <td>Views</td>
                        <td>&nbsp;{{model.movie.views}}</td>
                    </tr>
                    <tr>

                        <td>Rating&nbsp;</td>
                        <td>
                            <ng-rate-it ng-model="model.movie.rating" read-only='true'></ng-rate-it>
                        </td>
                    </tr>

                    <tr>
                        <td>Price&nbsp;</td>
                        <td>
                            INR&nbsp; {{model.movie.price}}
                        </td>
                    </tr>

                </table>
                <br>
                <button class="btn btn-primary btnPrimary marginall" ng-click="model.playMovie(model.movie)" v-busy="model.isBusy"
                        v-busy-label="Processing payment" v-pressable>Watch Now</button>

            </div>

        </div>
    </div>
</div>

<!-- End Movie description -->



<!-- Start videogular  -->

<div class="margintop">
    <div class="container">
        <div class="row">
            <div class="videogular-container col-xs-12 playerHeight">
                <videogular vg-theme="model.config.theme.url">
                    <vg-media vg-src="model.config.sources"
                              vg-tracks="model.config.tracks">
                    </vg-media>


                    <a ng-click="model.playMovie(model.movie)">
                        <vg-overlay-play></vg-overlay-play>
                    </a>

                    <vg-poster vg-url='model.config.plugins.posterImage'></vg-poster>
                </videogular>
                <!--  videogular-container-->
            </div>
        </div>
        <!-- container-fluid  -->
    </div>
    <!-- margintop -->
</div>
<!-- End videogular  -->



<!--footer start from here-->
<div class="footer">
    <p class="footercontent pull-right">&copy; 2017 StudioBuzz. All rights reserved &nbsp;&nbsp;
    </p>
</div>
<!--footer end from here-->