<!--Start Navbar  -->
<nav class="navbar navbar-inverse navbar-fixed-top">



    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a class="cursorpointer brand" ng-click="model.navMoviesHome">Studiobuzz</a>
            </div>

        </div>
        <div class="row row1">
            <ul class="largenav pull-right">



                <li class="dropdown upper-links">
                    <a class="dropdown-toggle links" data-toggle="dropdown" href="#">Movies <span class="caret"></span></a>
                    <ul class="dropdown-menu multi-column columns-3">
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <li><a class="cursorpointer brand" ng-click="model.navMoviesHome">Home</a></li>
                                    <li><a href="#">Currently Watching</a></li>
                                    <li><a href="#">Popular this Week</a></li>
                                    <li><a href="#">Most Viewed</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Upcoming Movies</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Recently Added</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Adventure</a></li>
                                    <li><a href="#">Romance</a></li>
                                    <li><a href="#">Family</a></li>
                                    <li><a href="#">Mystery</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="multi-column-dropdown">
                                    <li><a href="#">Drama</a></li>
                                    <li><a href="#">Thriller</a></li>
                                    <li><a href="#">Crime</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Horror</a></li>
                                    <li><a href="#">Fantasy</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>



                </li>

                <li class="upper-links"><a class="links" href="#">New Release</a></li>
                <li class="dropdown upper-links">
                    <a href="#" class="dropdown-toggle links" data-toggle="dropdown">Select Your Language <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="profile-li"><a class="profile-links" href="#">Hindi</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Kannada</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Malayalam</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Tamil</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Telugu</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">More...</a></li>
                    </ul>
                </li>
                <li class='upper-links'><a class="links" href="#">Get Notification <i class="fa fa-bell-o" aria-hidden="true"></i></a></li>

                <li class="upper-links dropdown"><a class="links" >My account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="profile-li"><a class="profile-links" href="#">Settings</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Notification <i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Recent</a></li>
                        <li class="profile-li"><a class="profile-links" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>


        </div>



    </div>
</nav>
<!-- End Navbar -->


<!-- Start Movie description -->
<div class="container-fluid">
<div class="container">
    <div class="margintop panel">
        <div class="row">
            <div class="col-md-3">
                <div class="marginall">
                    <img ng-src="{{model.image}}" class="imgBorderThumb imgBorder marginall imageshadow" width='182' height="268">
                </div>
            </div>

            <div class="col-md-9">
                <h4>{{model.movie.title}}</h4>
                <p class="marginall text-justify marginall"><strong>Description:</strong> {{model.movie.description}}</p>

                <table class="table-responsive">
                    <tr>
                        <td>Date of Release&nbsp;</td>
                        <td>
                            &nbsp; {{model.movie.created | date: 'dd-MM-yyyy'}}
                        </td>
                    </tr>
                    <tr>
                        <td>Actors&nbsp;</td>
                        <td>
                            &nbsp; {{model.movie.cast}}
                        </td>
                    </tr>

                    <tr>
                        <td>Views</td>
                        <td>&nbsp;{{model.movie.views}}</td>
                    </tr>
                    <tr>

                        <td>Rating&nbsp;</td>
                        <td>
                            <ng-rate-it ng-model="model.movie.rating" read-only='true'></ng-rate-it>
                        </td>
                    </tr>

                    <tr>
                        <td>Price&nbsp;</td>
                        <td>
                            INR&nbsp; {{model.movie.price}}
                        </td>
                    </tr>

                </table>
                <br>
                <button class="btn btn-primary btnPrimary marginall" ng-click="model.playMovie(model.movie)" v-busy="model.isBusy"
                        v-busy-label="Processing payment" v-pressable>Pay Now</button>

            </div>

        </div>
    </div>
</div>
</div>
<!-- End Movie description -->
<br>


<!-- Start videogular  -->

<div class="container-fluid marginall">
    <div class="container">
        <div class="row">
            <div class="videogular-container col-xs-12 playerHeight">
                <videogular vg-theme="model.config.theme.url">
                    <vg-media vg-src="model.config.sources"
                              vg-tracks="model.config.tracks">
                    </vg-media>


                    <a ng-click="model.playMovie(model.movie)">
                        <vg-overlay-play></vg-overlay-play>
                    </a>

                    <vg-poster vg-url='model.config.plugins.posterImage'></vg-poster>
                </videogular>
                <!--  videogular-container-->
            </div>
        </div>
        <!-- container-fluid  -->
    </div>
    <!-- margintop -->
</div>
<!-- End videogular  -->



<!--footer start from here-->
<div class="footer">
    <p class="footercontent pull-right">&copy; 2017 StudioBuzz. All rights reserved &nbsp;&nbsp;
    </p>
</div>
<!--footer end from here-->
