<!--Start Navbar  -->
<div class="navbar-wrapper" >
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navfontfamily" href="#!/">
                        Studi<i class="fa fa fa-play-circle-o icon-tby" aria-hidden="true"></i>Buzz</a>
                </div>
            </div>
        </nav>

    </div>
</div>
<!-- End Navbar -->

<!-- Start  -->

<div class="container margintop">
    <div class="panel">
        <div class="panel-body">
            <h3>Welcome to Studi<small style="font-size: 72%"><i class="fa fa fa-play-circle-o icon-bg" aria-hidden="true"></i></small>Buzz </h3>
            <h4>Thanks for choosing StudioBuzz as your prime partner, please
            read the terms for completing the registration.</h4>
            <p class="text-justify marginall"> &nbsp; To join the StudioBuzz membership you must
            have to provide account information for time to time payment
            transaction ("Payment Request"). We ('StudioBuzz') believe, the provided
            informations are valid and accepted for method of payment,
            which you may update from time to time
            ("Payment Request"). Please read terms & conditions and privacy policy to know about the information
            storage, we may in our discretion change these Terms,
            StudioBuzz Conditions of Use, Conditions of Privacy Notice, or
            any aspect of Prime membership, without notice to you.
            If any change to these terms is found invalid, void, or for any reason
            unenforceable, that change is severable and does not affect the
            validity and enforceability of any remaining changes or conditions.
            YOUR CONTINUED MEMBERSHIP AFTER WE CHANGE THESE TERMS CONSTITUTES
            YOUR ACCEPTANCE OF THE CHANGES. IF YOU DO NOT AGREE TO ANY CHANGES,
            YOU MUST CANCEL YOUR MEMBERSHIP.
            </p>
            <br>
            <p class="text-muted">
                <small>By clicking on Proceed, you agree to terms of StudioBuzz.</small>
            </p>
            <p>
                <a ng-click="model.membershipProceed()" class="btn btn-info marginall">Proceed</a>
            </p>
            <p class="text-muted"><small>Click to cancel <a class="cursorpointer" ng-click="model.membershipCancel()">Cancel</a></small></p>
        </div>
    </div>
</div>
<!-- End -->



<!--footer start from here-->
<div class="footer ">
    <p class="footercontent pull-right">&copy; 2017 StudioBuzz. All rights reserved &nbsp;&nbsp;
    </p>
</div>
<!--footer end from here-->
